# http://editorconfig.org
root = true

[*]
indent_style = space                    # 输入的 tab 都用空格代替
indent_size = 2                         # 一个 tab 用 2 个空格代替
charset = utf-8                         # 字符编码 utf-8
trim_trailing_whitespace = true         # 去掉每行末尾的空格
insert_final_newline = true             # 每个文件末尾都加一个空行
font_size = 14                          # 文件字体大小
tab_width  = 100                        # 设置tab的列数。默认是indent_size

[*.md]
trim_trailing_whitespace = false        # .md 文件不去掉每行末尾的空格
